@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-primary: #141414;
  --color-accent: #3b82f6; /* Blue-500 */
}

@layer base {
  body {
    @apply antialiased text-primary selection:bg-accent/30 bg-white;
  }
}
